In [1]:
import numpy as np
import os
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
# Đọc dữ liệu từ file training
with open('../data/raw/aug_train.csv', 'r', encoding='utf-8') as f:
    header = f.readline().strip().split(',')
data = np.genfromtxt('../data/raw/aug_train.csv',delimiter = ',', dtype =str, skip_header = 1, encoding = 'utf-8')
print(header)
print(data[:1,:])

['enrollee_id', 'city', 'city_development_index', 'gender', 'relevent_experience', 'enrolled_university', 'education_level', 'major_discipline', 'experience', 'company_size', 'company_type', 'last_new_job', 'training_hours', 'target']
[['8949' 'city_103' '0.92' 'Male' 'Has relevent experience'
  'no_enrollment' 'Graduate' 'STEM' '>20' '' '' '1' '36' '1']]

## Thông tin các feature trong data
- enrollee_id            : ID ứng viên
- city                   : mã thành phố
- city_development_index : Chỉ số phát triển của thành phố (0-1)
- gender                 : giới tính
- relevent_experience    : Ứng viên có kinh nghiệm liên quan hay không
- enrolled_university    : Loại chương trình đại học đang theo học (nếu có)
- education_level        : Trình độ học vấn
- major_discipline       : Chuyên ngành đại học
- experience             : Tổng số năm kinh nghiệm
- company_size           : Quy mô công ty hiện tại
- company_type           : Loại công ty hiện tại
- last_new_job           : Thời gian giữa hai công việc gần nhất
- training_hours         : Tổng số giờ training đã hoàn thành
- target                 : muốn đổi việc hay không (0/1)

# TIỀN XỬ LÝ DỮ LIỆU
Các câu hỏi được đưa ra
- Dữ liệu có bao nhiêu hàng, bao nhiêu cột
- Kiểu dữ liệu của từ cột đã hợp lý hay chưa
- Gía trị của các ô từng cột đã hợp lý chưa
- Nếu là dữ liệu số thì mean, median, max, min của cột đó là gì
- Có cần bỏ các giá trị ngoại lai đó không, hay là thay bằng mean hoặc median
- Kiểm tra các cột (không phải có giá trị số), có giá trị nào bất thường không => có nên loại bỏ hay thay thế thành giá trị khác
- Cột nào cần chuẩn hóa dữ liệu
- Có dữ liệu nào bị thiếu không, có ảnh hưởng gì không
- Cần phải thêm giá trị gì vào những ô thiếu đó (unknown hay 0,..)

## Kiểm tra tính hợp lệ của dữ liệu

In [3]:
# Dữ liệu có bao nhiêu dòng, cột
n_row, n_col = data.shape
print(f"Tổng số dòng và cột của bộ dữ liệu là: {n_row} dòng và {n_col} cột")

Tổng số dòng và cột của bộ dữ liệu là: 19158 dòng và 14 cột

In [4]:
# Kiểm tra kiểu dữ liệu của từng cột
for i in range(len(header)):
    print (type(data[0,i]))

<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>

- Hiện tại toàn bộ kiểu dữ liệu của data đang là kiểu str
- Trong khi đó city_development_index,training_hours,target là kiểu số
- experience và last_new_job đặc biệt hơn vì có các phép so sánh ">" hay "<"
=> chuyển các cột trên thành dạng số
- Các cột còn lại kiểu str là hợp lý

In [5]:
# Xây dựng hàm chuyển đổi số nguyên
def safe_int(x):
    try:
        return int(float(x))
    except:
        return np.nan

In [6]:
# Xây dựng hàm chuyển đổi số thực
def safe_float(x):
    try:
        return float(x)
    except:
        return np.nan

In [7]:
unique_exp = np.unique(data[:, 8])   
print(" Các giá trị khác nhau của cột experience:\n", unique_exp)

 Các giá trị khác nhau của cột experience:
 ['' '1' '10' '11' '12' '13' '14' '15' '16' '17' '18' '19' '2' '20' '3' '4'
 '5' '6' '7' '8' '9' '<1' '>20']

- Các giá trị nhận được trong cột experience là các số, '<1','>20' và có tồn tại ô trống
- Xây dựng hàm chuyển đổi từ string sang số cho cột experience, tuân theo quy ước sau
  * Các ô trống sẽ bỏ qua
  * Các số sẽ chuyển đổi bình thường
  * '<1' sẽ quy về thành 0
  * '>20' sẽ quy thành 21

In [8]:
# Xây dựng hàm chuyển đổi cho cột experience
def parse_experience(x):
    if x == "<1":
        return 0
    if x == ">20":
        return 21
    try:
        return int(x)
    except:
        return np.nan

In [9]:
unique_exp = np.unique(data[:, 11])   
print(" Các giá trị khác nhau của cột last_new_job:\n", unique_exp)

 Các giá trị khác nhau của cột last_new_job:
 ['' '1' '2' '3' '4' '>4' 'never']

- Các giá trị nhận được trong cột last_new_job là các số, 'never','>20' và có tồn tại ô trống
- Xây dựng hàm chuyển đổi từ string sang số cho cột last_new_job, tuân theo quy ước sau
  * Các ô trống sẽ bỏ qua
  * Các số sẽ chuyển đổi bình thường
  * 'never' sẽ quy về thành 0
  * '>4' sẽ quy thành 5

In [10]:
def parse_last_new_job(x):
    if x == "never":
        return 0
    if x == ">4":
        return 5
    try:
        return int(x)
    except:
        return np.nan

In [11]:
city_dev = np.array([safe_float(x) for x in data[:, 2]])
training_hours = np.array([safe_int(x) for x in data[:, 12]])
targets = np.array([safe_int(x) for x in data[:, 13]])
experience = np.array([parse_experience(x) for x in data[:, 8]])
last_new_job = np.array([parse_last_new_job(x) for x in data[:,11]])

## Kiểm tra giá trị từng cột đã hợp lý chưa

In [12]:
for i in range((len(header))):
    unique_exp = np.unique(data[:, i])
    print(f"Các giá trị khác nhau của cột {header[i]} là:\n {unique_exp} \n")

Các giá trị khác nhau của cột enrollee_id là:
 ['1' '10' '10000' ... '9992' '9995' '9998']

Các giá trị khác nhau của cột city là:
 ['city_1' 'city_10' 'city_100' 'city_101' 'city_102' 'city_103' 'city_104'
 'city_105' 'city_106' 'city_107' 'city_109' 'city_11' 'city_111'
 'city_114' 'city_115' 'city_116' 'city_117' 'city_118' 'city_12'
 'city_120' 'city_121' 'city_123' 'city_126' 'city_127' 'city_128'
 'city_129' 'city_13' 'city_131' 'city_133' 'city_134' 'city_136'
 'city_138' 'city_139' 'city_14' 'city_140' 'city_141' 'city_142'
 'city_143' 'city_144' 'city_145' 'city_146' 'city_149' 'city_150'
 'city_152' 'city_155' 'city_157' 'city_158' 'city_159' 'city_16'
 'city_160' 'city_162' 'city_165' 'city_166' 'city_167' 'city_171'
 'city_173' 'city_175' 'city_176' 'city_179' 'city_18' 'city_180'
 'city_19' 'city_2' 'city_20' 'city_21' 'city_23' 'city_24' 'city_25'
 'city_26' 'city_27' 'city_28' 'city_30' 'city_31' 'city_33' 'city_36'
 'city_37' 'city_39' 'city_40' 'city_41' 'city_42' 'city_43' 'city_44'
 'city_45' 'city_46' 'city_48' 'city_50' 'city_53' 'city_54' 'city_55'
 'city_57' 'city_59' 'city_61' 'city_62' 'city_64' 'city_65' 'city_67'
 'city_69' 'city_7' 'city_70' 'city_71' 'city_72' 'city_73' 'city_74'
 'city_75' 'city_76' 'city_77' 'city_78' 'city_79' 'city_8' 'city_80'
 'city_81' 'city_82' 'city_83' 'city_84' 'city_89' 'city_9' 'city_90'
 'city_91' 'city_93' 'city_94' 'city_97' 'city_98' 'city_99']

Các giá trị khác nhau của cột city_development_index là:
 ['0.44799999999999995' '0.479' '0.48700000000000004' '0.493' '0.512'
 '0.516' '0.518' '0.527' '0.55' '0.555' '0.556' '0.5579999999999999'
 '0.563' '0.579' '0.624' '0.625' '0.64' '0.645' '0.647' '0.649' '0.664'
 '0.6659999999999999' '0.68' '0.682' '0.6890000000000001' '0.691' '0.693'
 '0.698' '0.701' '0.722' '0.725' '0.727' '0.73' '0.735' '0.738'
 '0.7390000000000001' '0.74' '0.742' '0.743' '0.745' '0.754' '0.762'
 '0.763' '0.764' '0.7659999999999999' '0.767' '0.769' '0.775'
 '0.7759999999999999' '0.78' '0.7809999999999999' '0.7879999999999999'
 '0.789' '0.794' '0.795' '0.7959999999999999' '0.802' '0.804' '0.807'
 '0.8240000000000001' '0.8270000000000001' '0.83' '0.836' '0.84' '0.843'
 '0.847' '0.848' '0.855' '0.856' '0.865' '0.866' '0.878' '0.884' '0.887'
 '0.89' '0.893' '0.895' '0.8959999999999999' '0.897' '0.898' '0.899'
 '0.903' '0.91' '0.9129999999999999' '0.915' '0.92' '0.9209999999999999'
 '0.9229999999999999' '0.924' '0.925' '0.9259999999999999'
 '0.9390000000000001' '0.9490000000000001']

Các giá trị khác nhau của cột gender là:
 ['' 'Female' 'Male' 'Other']

Các giá trị khác nhau của cột relevent_experience là:
 ['Has relevent experience' 'No relevent experience']

Các giá trị khác nhau của cột enrolled_university là:
 ['' 'Full time course' 'Part time course' 'no_enrollment']

Các giá trị khác nhau của cột education_level là:
 ['' 'Graduate' 'High School' 'Masters' 'Phd' 'Primary School']

Các giá trị khác nhau của cột major_discipline là:
 ['' 'Arts' 'Business Degree' 'Humanities' 'No Major' 'Other' 'STEM']

Các giá trị khác nhau của cột experience là:
 ['' '1' '10' '11' '12' '13' '14' '15' '16' '17' '18' '19' '2' '20' '3' '4'
 '5' '6' '7' '8' '9' '<1' '>20']

Các giá trị khác nhau của cột company_size là:
 ['' '100-500' '1000-4999' '10000+' '50-99' '500-999' '5000-9999' '<10'
 'Oct-49']

Các giá trị khác nhau của cột company_type là:
 ['' 'Early Stage Startup' 'Funded Startup' 'NGO' 'Other' 'Public Sector'
 'Pvt Ltd']

Các giá trị khác nhau của cột last_new_job là:
 ['' '1' '2' '3' '4' '>4' 'never']

Các giá trị khác nhau của cột training_hours là:
 ['1' '10' '100' '101' '102' '103' '104' '105' '106' '107' '108' '109' '11'
 '110' '111' '112' '113' '114' '116' '117' '118' '119' '12' '120' '121'
 '122' '123' '124' '125' '126' '127' '128' '129' '13' '130' '131' '132'
 '133' '134' '135' '136' '138' '139' '14' '140' '141' '142' '143' '144'
 '145' '146' '147' '148' '149' '15' '150' '151' '152' '153' '154' '155'
 '156' '157' '158' '16' '160' '161' '162' '163' '164' '165' '166' '167'
 '168' '17' '170' '172' '174' '176' '178' '18' '180' '182' '184' '188'
 '19' '190' '192' '194' '196' '198' '2' '20' '200' '202' '204' '206' '21'
 '210' '212' '214' '216' '218' '22' '220' '222' '224' '226' '228' '23'
 '232' '234' '236' '238' '24' '240' '242' '244' '246' '248' '25' '250'
 '254' '256' '258' '26' '260' '262' '264' '266' '268' '27' '270' '272'
 '276' '278' '28' '280' '282' '284' '286' '288' '29' '290' '292' '294'
 '298' '3' '30' '300' '302' '304' '306' '308' '31' '310' '312' '314' '316'
 '32' '320' '322' '324' '326' '328' '33' '330' '332' '334' '336' '34' '35'
 '36' '37' '38' '39' '4' '40' '41' '42' '43' '44' '45' '46' '47' '48' '49'
 '5' '50' '51' '52' '53' '54' '55' '56' '57' '58' '59' '6' '60' '61' '62'
 '63' '64' '65' '66' '67' '68' '69' '7' '70' '71' '72' '73' '74' '75' '76'
 '77' '78' '79' '8' '80' '81' '82' '83' '84' '85' '86' '87' '88' '89' '9'
 '90' '91' '92' '94' '95' '96' '97' '98' '99']

Các giá trị khác nhau của cột target là:
 ['0' '1']

In [13]:
# Đối với dữ liệu số (city_development_index, training_hours, experience,last_new_jobe)
mean_city_dev = np.nanmean(city_dev)
median_city_dev = np.nanmedian(city_dev)
max_city_dev = np.nanmax(city_dev)
min_city_dev = np.nanmin(city_dev)
print("City development index: ")
print(f" Mean: {mean_city_dev}, median: {median_city_dev}, max: {max_city_dev}, min: {min_city_dev}")

mean_train_hour = np.nanmean(training_hours)
median_train_hour = np.nanmedian(training_hours)
max_train_hour = np.nanmax(training_hours)
min_train_hour = np.nanmin(training_hours)
print("Training hour: ")
print(f" Mean: {mean_train_hour}, median: {median_train_hour}, max: {max_train_hour}, min: {min_train_hour}")

mean_experience = np.nanmean(experience)
median_experience = np.nanmedian(experience)
max_experience = np.nanmax(experience)
min_experience = np.nanmin(experience)
print("Experience: ")
print(f" Mean: {mean_experience}, median: {median_experience}, max: {max_experience}, min: {min_experience}")

mean_last_new_job = np.nanmean(last_new_job)
median_last_new_job = np.nanmedian(last_new_job)
max_last_new_job = np.nanmax(last_new_job)
min_last_new_job = np.nanmin(last_new_job)
print("Last new job: ")
print(f" Mean: {mean_last_new_job}, median: {median_last_new_job}, max: {max_last_new_job}, min: {min_last_new_job}")

City development index:
 Mean: 0.8288480008351602, median: 0.903, max: 0.9490000000000001, min: 0.44799999999999995
Training hour:
 Mean: 65.36689633573442, median: 47.0, max: 336, min: 1
Experience:
 Mean: 10.100141413083328, median: 9.0, max: 21.0, min: 0.0
Last new job:
 Mean: 2.0004270082732853, median: 1.0, max: 5.0, min: 0.0

- Nhìn chung các chỉ số của city_development_index, training_hours, experience,last_new_job không có điểm bất thường

In [14]:
# Kiểm tra số lượng dữ liệu của từng category
cat_cols = [
    'gender',
    'relevent_experience',
    'enrolled_university',
    'education_level',
    'major_discipline',
    'company_size',
    'company_type',
    'target'
]
cat_cols = [c for c in cat_cols if c in header]
print(cat_cols)
for c in cat_cols:
    idx = header.index(c)
    col = data[:, idx]
    # Các ô rỗng được mặc định là missing
    col_filled = np.array([x if x != '' else 'Missing' for x in col])
    unique_vals, counts = np.unique(col_filled, return_counts=True)
    total = counts.sum()
    print(f"Column: {c}")
    print(f"  Unique values: {len(unique_vals)}")
    for val, cnt in zip(unique_vals, counts):
        pct = cnt / total * 100
        print(f"    {val}: {cnt} ({pct:.2f}%)")
    print()

['gender', 'relevent_experience', 'enrolled_university', 'education_level', 'major_discipline', 'company_size', 'company_type', 'target']
Column: gender
  Unique values: 4
    Female: 1238 (6.46%)
    Male: 13221 (69.01%)
    Missing: 4508 (23.53%)
    Other: 191 (1.00%)

Column: relevent_experience
  Unique values: 2
    Has relevent experience: 13792 (71.99%)
    No relevent experience: 5366 (28.01%)

Column: enrolled_university
  Unique values: 4
    Full time course: 3757 (19.61%)
    Missing: 386 (2.01%)
    Part time course: 1198 (6.25%)
    no_enrollment: 13817 (72.12%)

Column: education_level
  Unique values: 6
    Graduate: 11598 (60.54%)
    High School: 2017 (10.53%)
    Masters: 4361 (22.76%)
    Missing: 460 (2.40%)
    Phd: 414 (2.16%)
    Primary School: 308 (1.61%)

Column: major_discipline
  Unique values: 7
    Arts: 253 (1.32%)
    Business Degree: 327 (1.71%)
    Humanities: 669 (3.49%)
    Missing: 2813 (14.68%)
    No Major: 223 (1.16%)
    Other: 381 (1.99%)
    STEM: 14492 (75.64%)

Column: company_size
  Unique values: 9
    100-500: 2571 (13.42%)
    1000-4999: 1328 (6.93%)
    10000+: 2019 (10.54%)
    50-99: 3083 (16.09%)
    500-999: 877 (4.58%)
    5000-9999: 563 (2.94%)
    <10: 1308 (6.83%)
    Missing: 5938 (30.99%)
    Oct-49: 1471 (7.68%)

Column: company_type
  Unique values: 7
    Early Stage Startup: 603 (3.15%)
    Funded Startup: 1001 (5.22%)
    Missing: 6140 (32.05%)
    NGO: 521 (2.72%)
    Other: 121 (0.63%)
    Public Sector: 955 (4.98%)
    Pvt Ltd: 9817 (51.24%)

Column: target
  Unique values: 2
    0: 14381 (75.07%)
    1: 4777 (24.93%)

- Bộ dữ liệu training này có phần trăm nam ứng viên rất cao (69.01%) cho thấy sự bias trong bộ dữ liệu, vì vậy sẽ không xét tới yếu tố giới tính trong quá trình khám phá dữ liệu vì có khả năng cao đưa ra kết luận không đúng
- Ngoài ra, yếu tố company_size cũng sẽ không xét trong quá trình khám phá vì chưa đánh gia sđược thang đo của yếu tố để đưa ra kết luận

### Kiểm tra missing value

In [15]:
# Số lượng ô bị thiếu cho từng cột
missing_counts = np.sum(data == '' , axis=0)
print(header)
missing_counts

['enrollee_id', 'city', 'city_development_index', 'gender', 'relevent_experience', 'enrolled_university', 'education_level', 'major_discipline', 'experience', 'company_size', 'company_type', 'last_new_job', 'training_hours', 'target']

array([   0,    0,    0, 4508,    0,  386,  460, 2813,   65, 5938, 6140,
        423,    0,    0])

### Điền các giá trị vào ô còn thiếu

In [16]:
def fill_missing_with_median(arr):
    clean = arr[~np.isnan(arr)]
    median = np.median(clean)
    arr[np.isnan(arr)] = median
    return arr

city_dev = fill_missing_with_median(city_dev)
training_hours = fill_missing_with_median(training_hours)
experience = fill_missing_with_median(experience)
last_new_job = fill_missing_with_median(last_new_job)

In [17]:
def label_encode(col):
    unique_vals = np.unique(col)
    mapping = {val: i for i, val in enumerate(unique_vals)}
    encoded = np.array([mapping[x] for x in col])
    return encoded, mapping

city_encoded, city_map = label_encode(data[:, 1])
company_type_encoded, comp_type_map = label_encode(data[:, 10])

In [18]:
company_size_map = {
    "<10": 1,
    "10/49": 2,
    "50-99": 3,
    "100-500": 4,
    "500-999": 5,
    "1000-4999": 6,
    "5000-9999": 7,
    "10000+": 8
}

def encode_company_size(x):
    return company_size_map.get(x, np.nan)

company_size = np.array([encode_company_size(x) for x in data[:, 9]], dtype=float)
company_size = fill_missing_with_median(company_size)

In [19]:
def min_max_norm(arr):
    mn = np.min(arr)
    mx = np.max(arr)
    return (arr - mn) / (mx - mn + 1e-9)

city_dev_norm = min_max_norm(city_dev)
training_hours_norm = min_max_norm(training_hours)
experience_norm = min_max_norm(experience)
last_new_job_norm = min_max_norm(last_new_job)

In [20]:
def zscore(arr):
    return (arr - np.mean(arr)) / (np.std(arr) + 1e-9)

city_dev_z = zscore(city_dev)
experience_z = zscore(experience)
target = data[:, -1].astype(float)

In [22]:
final_data_with_target = np.column_stack([
    city_dev_norm,
    training_hours_norm,
    experience_norm,
    last_new_job_norm,
    company_type_encoded,
    company_size,
    target  
])

# Header mới
header = "city_dev_norm,training_hours_norm,experience_norm,last_new_job_norm,company_type_encoded,company_size,target"

# Lưu CSV
np.savetxt("../data/processed/processed_data.csv", final_data_with_target, delimiter=",", header=header, comments='', fmt='%f')